<!-- <div class="col-md-6 col-md-offset-3">
  <h1>Hi {{currentUser.firstName}}!</h1>
  <p>You're logged in with the MEAN Stack & Angular 6!!</p>
  <h3>All registered users:</h3>
  <ul>
      <li *ngFor="let user of users">
          {{user.username}} ({{user.firstName}} {{user.lastName}})
          - <a (click)="deleteUser(user._id)">Delete</a>
      </li>
  </ul>
  <p><a [routerLink]="['/login']">Logout</a></p>
</div> -->



<div class="container">
      
  <h1>Cure Clinic Inc</h1>
  <p><a [routerLink]="['/login']">Logout</a></p>
  <ngb-tabset [destroyOnHide]="false">
    <ngb-tab title="Home">
      <ng-template ngbTabContent>
        <div class="w3-light-grey w3-padding-64 w3-margin-bottom w3-center">
          <h1 class="w3-jumbo">Hello {{currentUser.firstName}}</h1>
          <h3>Welcome to your space in Cure Clinic's prtal</h3>
        </div>
        
        <div class="w3-row-padding w3-content" style="max-width:1400px">
          <div class="w3-twothird">
            <img src="../../assets/home_image.jpg" alt="Notebook" style="width:100%">
            <h2>Rolling MRIs into hospital rooms</h2>
            <div class="w3-justify">
             <p>Assessing a stroke demands a rapid, life-or-death assessment: Is the culprit a clot, which requires a blood thinner, or bleeding in the brain, which requires surgery? Now, a portable MRI device can help make that assessment right at a patient’s bedside — and in much less time than required by a trip to a standard machine.

              The Swoop MRI — which was created with input from Yale Medicine in New Haven, Connecticut — received Food and Drug Administration (FDA) approval in August 2020 and is already at work in several U.S. hospitals.
              
              The new portable machine offers many advantages over its massive cousin, says Yale neurologist Kevin Sheth, MD.
              
              “The very strong magnets in regular MRIs bring a lot of challenges,” he explains. “You need intensive power and cooling, precautions like a shielded room, and a lot of training. If you use a weaker magnet, all those problems go away.”
              
              The weaker magnet is effective, according to an August 2021 study, which asked clinicians to identify various cerebral pathologies using Swoop images. “The goal is not to be as good as a high-magnet MRI, but to be good enough for clinical decisions,” says Sheth, who co-authored the study but has no financial interest in Hyperfine, the Connecticut-based company that produces the machine.
              
              Swoop’s size — it’s smaller than some refrigerators — eliminates the need to move frail patients down hospital hallways. What’s more, its cost — around $100,000 compared to $1 million for the bigger machine — puts it within reach of hospitals and regions with fewer resources. “This could essentially democratize brain imaging,” argues Sheth. A promising new approach has succeeded at both goals — and did so among men with an advanced form of the disease whose condition had deteriorated despite receiving standard treatments.

              In fact, it more than doubled how long patients lived without their cancer worsening, according to a paper published in September. The study, which followed 831 men in 10 countries for a median of 20 months, compared patients who continued to receive standard care with ones who got the new treatment.
              A promising new approach has succeeded at both goals — and did so among men with an advanced form of the disease whose condition had deteriorated despite receiving standard treatments.

              In fact, it more than doubled how long patients lived without their cancer worsening, according to a paper published in September. The study, which followed 831 men in 10 countries for a median of 20 months, compared patients who continued to receive standard care with ones who got the new treatment.</p>
            </div>
          </div>
          <div class="w3-third">
            <div class="w3-container w3-light-grey">
              <h2>Solving sickle cell disease</h2>
              <p class="w3-justify">In research conducted at Boston Children’s Hospital, scientists used a virus to switch off the gene that triggers cells’ sickling, according to a January 2021 study. The patients subsequently produced healthy red blood cells — and nearly all were able to discontinue the blood transfusions SCD often requires.

                “One participant used to have transfusions every month but has not needed any in three years,” says David Williams, MD, chief of the Division of Hematology/Oncology at Boston Children’s and head of the research team. “This has completely changed his life.”
                
                The study followed six patients for a median of 18 months and found that the treatment completely halted the disease’s more severe symptoms.
                
                “I’m so happy for my sickle-cell patients. This is a terrible disease,” notes Williams.</p>
            </div>
            <br>
            <div class="w3-container w3-light-grey w3-justify">
              <h2>Saving mothers’ lives</h2>
              <p class="w3-justify">When a woman’s uterus fails to contract after childbirth, tremendous blood loss can ensue, possibly leading to an emergency hysterectomy or even death. In fact, postpartum hemorrhage affects 3% to 10% of all childbirths in the United States and causes more than one-third of childbirth-related maternal deaths worldwide.

                Treatment options include medications that don’t always work and inserting a balloon to put pressure on the uterus — much like exerting pressure on a cut — that comes with risks and must remain in place for a day.</p>
            </div>
            
          </div>
        </div>
      </ng-template>
    </ngb-tab>
    
    <ngb-tab title="Time Card">
      <ng-template ngbTabContent>
        <p>Time cards allows you and your team to easily track clock in and c
          lock out times and create monthly employee reports that show not only 
          when employees come to the office and leave, but also the breaks they take during the day and the extra hours they work.

        </p>

        <br>

        <p>ALL AVAILABLE DOCTORS : </p>

        <ul>
          <li *ngFor="let user of users">
             <p> {{user.username}} ({{user.firstName}} {{user.lastName}})</p>
              <!-- - <a (click)="deleteUser(user._id)">Delete</a> -->
          </li>
      </ul>


      </ng-template>
    </ngb-tab>
     
    <ngb-tab>
      <ng-template ngbTabTitle>Our Services</ng-template>
      <ng-template ngbTabContent>
      
          
          <div class="w3-row-padding">
          
          <div class="w3-third">
            <div class="w3-card">
            <div class="w3-container w3-red">
              <h1><b>DENTAL</b></h1>
            </div>
            <div class="w3-container w3-xlarge">
              <p>The Newest<br>
              <i><b>triple-action</b></i><br>
              <span class="w3-xxlarge w3-text-red"><b>HOO</b></span></p>
              <p><del>$400</del> <span class="w3-tag w3-yellow">New!</span><br>
              Now only $299 !!!</p>
            </div>
            <div class="w3-container w3-red">
              <p class="w3-opacity">Contact: 555 555 555</p>
            </div>
            </div>
            <br>
            <div class="w3-card">
            <div class="w3-container w3-green">
              <h1><b>VISION</b></h1>
            </div>
            <div class="w3-container w3-xlarge">
              <p>The Newest<br>
              <i><b>triple-action</b></i><br>
              <span class="w3-xxlarge w3-text-red"><b>HOO</b></span></p>
              <p><del>$400</del> <span class="w3-badge w3-red">6</span><br>
              Now only $299 !!!</p>
            </div>
            <div class="w3-container w3-green">
              <p class="w3-opacity">Contact: 555 555 555</p>
            </div>
            </div>
          </div>
          
          <div class="w3-third">
            <div class="w3-card w3-animate-fading">
            <div class="w3-container w3-blue">
              <h1><b>
                Heart and Vascular</b></h1>
            </div>
            <div class="w3-container w3-xlarge">
              <p>The Newest<br>
              <i><b>triple-action</b></i><br>
              <span class="w3-xxlarge w3-text-red"><b>HOO</b></span></p>
              <p><del>$400</del><br>
              Now only $299 !!!</p>
            </div>
            <div class="w3-container w3-blue">
              <p class="w3-opacity">Contact: 555 555 555</p>
            </div>
            </div>
            <br>
            <div class="w3-card w3-animate-zoom">
            <div class="w3-container w3-yellow">
              <h1><b>Orthopedics</b></h1>
            </div>
            <div class="w3-container w3-xlarge w3-yellow">
              <p>The Newest<br>
              <i><b>triple-action</b></i><br>
              <span class="w3-xxlarge w3-text-red"><b>HOO</b></span></p>
              <p>Before <del>$400</del><br>
              Now only $299 !!!</p>
            </div>
            <div class="w3-container w3-yellow">
              <p class="w3-opacity">Contact: 555 555 555</p>
            </div>
            </div>
          </div>
          
          <div class="w3-third">
            <div class="w3-card">
            <div class="w3-container w3-red">
              <h1><b>Physical Therapy</b></h1>
            </div>
            <div class="w3-container w3-xlarge w3-yellow">
              <p>The Newest<br>
              <i><b>triple-action</b></i><br>
              <span class="w3-xxlarge w3-text-red"><b>HOO</b></span></p>
              <p>Before <del>$400</del><br>
              Now only $299 !!!</p>
            </div>
            <div class="w3-container w3-red">
              <p class="w3-opacity">Contact: 555 555 555</p>
            </div>
            </div>
            <br>
            <div class="w3-card">
            <div class="w3-container">
              <h1><b>Gynaecology</b></h1>
            </div>
            <div class="w3-container w3-xlarge w3-red">
              <p>The Newest<br>
              <i><b>triple-action</b></i><br>
              <span class="w3-xxlarge"><b>HOO</b></span></p>
              <p>Before <del>$400</del><br>
              Now only $299 !!!</p>
            </div>
            <div class="w3-container">
              <p class="w3-opacity">Contact: 555 555 555</p>
            </div>
            </div>
          </div>
          
          </div>
      </ng-template>
    </ngb-tab>
     
    <ngb-tab>
      <ng-template ngbTabTitle>X ray</ng-template>
      <ng-template ngbTabContent>
         <img src="../../assets/Screen Shot 2022-05-12 at 10.58.48 AM.png" alt="" srcset="">
      </ng-template>
    </ngb-tab>


    <ngb-tab>
      <ng-template ngbTabTitle>Payment & Cart </ng-template>
      <ng-template ngbTabContent>
        <h2>Welcome to Cure Inc Payment</h2>
<p> Please fill out information to process your order</p>
<div class="row">
  <div class="col-75">
    <div class="container">
      <form action="/action_page.php">
        <div class="row">
          <div class="col-50">
            <h3>Billing Address</h3>
            <label for="fname"><i class="fa fa-user"></i> Full Name</label>
            <input type="text" id="fname" name="firstname" placeholder="John M. Doe">
            <label for="email"><i class="fa fa-envelope"></i> Email</label>
            <input type="text" id="email" name="email" placeholder="john@example.com">
            <label for="adr"><i class="fa fa-address-card-o"></i> Address</label>
            <input type="text" id="adr" name="address" placeholder="542 W. 15th Street">
            <label for="city"><i class="fa fa-institution"></i> City</label>
            <input type="text" id="city" name="city" placeholder="New York">

            <div class="row">
              <div class="col-50">
                <label for="state">State</label>
                <input type="text" id="state" name="state" placeholder="NY">
              </div>
              <div class="col-50">
                <label for="zip">Zip</label>
                <input type="text" id="zip" name="zip" placeholder="10001">
              </div>
            </div>
          </div>

          <div class="col-50">
            <h3>Payment</h3>
            <label for="fname">Accepted Cards</label>
            <div class="icon-container">
              <i class="fa fa-cc-visa" style="color:navy;"></i>
              <i class="fa fa-cc-amex" style="color:blue;"></i>
              <i class="fa fa-cc-mastercard" style="color:red;"></i>
              <i class="fa fa-cc-discover" style="color:orange;"></i>
            </div>
            <label for="cname">Name on Card</label>
            <input type="text" id="cname" name="cardname" placeholder="John More Doe">
            <label for="ccnum">Credit card number</label>
            <input type="text" id="ccnum" name="cardnumber" placeholder="1111-2222-3333-4444">
            <label for="expmonth">Exp Month</label>
            <input type="text" id="expmonth" name="expmonth" placeholder="September">
            <div class="row">
              <div class="col-50">
                <label for="expyear">Exp Year</label>
                <input type="text" id="expyear" name="expyear" placeholder="2018">
              </div>
              <div class="col-50">
                <label for="cvv">CVV</label>
                <input type="text" id="cvv" name="cvv" placeholder="352">
              </div>
            </div>
          </div>
          
        </div>
        <label>
          <input type="checkbox" checked="checked" name="sameadr"> Shipping address same as billing
        </label>
        <input type="submit" value="Continue to checkout" class="btn">
      </form>
    </div>
  </div>
  <div class="col-25">
    <div class="container">
      <h4>Cart <span class="price" style="color:black"><i class="fa fa-shopping-cart"></i> <b>4</b></span></h4>
      <p><a href="#">Product 1</a> <span class="price">$15</span></p>
      <p><a href="#">Product 2</a> <span class="price">$5</span></p>
      <p><a href="#">Product 3</a> <span class="price">$8</span></p>
      <p><a href="#">Product 4</a> <span class="price">$2</span></p>
      <hr>
      <p>Total <span class="price" style="color:black"><b>$30</b></span></p>
    </div>
  </div>
</div>
      </ng-template>
    </ngb-tab>
     

     
    <ngb-tab title="Inventory" >
      <ng-template ngbTabContent>
        <div class="panel">
          <div class="panel-header">
            <h3 class="title">Supply and Sales</h3>
        
            <div class="calendar-views">
              <span>Day</span>
              <span>Week</span>
              <span>Month</span>
            </div>
          </div>
        
          <div class="panel-body">
            <div class="categories">
              <div class="category">
                <span>Total Sales</span>
                <span>1897</span>
              </div>
              <div class="category">
                <span>Supply</span>
                <span>3712</span>
              </div>
              <div class="category">
                <span>Subscription</span>
                <span>8.648</span>
              </div>
            </div>
        
            <div class="chart">
              <div class="operating-systems">
                <span class="ios-os">
                  <span></span>Services
                </span>
                <span class="windows-os">
                  <span></span>Surgery
                </span>
                <span class="android-os">
                  <span></span>Physiotherapy
                </span>
              </div>
        
              <!--    Place the stats numbers here    -->
              <div class="android-stats">
                453.67<span></span>
              </div>
              <div class="ios-stats">
                <span></span>453.67
              </div>
              <div class="windows-stats">
                <span></span>453.67
              </div>
              <!--   Place the SVG here     -->
              <svg width="563" height="204" class="data-chart" viewBox="0 0 563 204" xmlns="http://www.w3.org/2000/svg">
                <g fill="none" fill-rule="evenodd">
                  <path class="dataset-1" d="M30.046 97.208c2.895-.84 5.45-2.573 7.305-4.952L71.425 48.52c4.967-6.376 14.218-7.38 20.434-2.217l29.447 34.46c3.846 3.195 9.08 4.15 13.805 2.52l31.014-20.697c4.038-1.392 8.485-.907 12.13 1.32l3.906 2.39c5.03 3.077 11.43 2.753 16.124-.814l8.5-6.458c6.022-4.577 14.563-3.676 19.5 2.056l54.63 55.573c5.622 6.526 15.686 6.647 21.462.258l37.745-31.637c5.217-5.77 14.08-6.32 19.967-1.24l8.955 7.726c5.42 4.675 13.456 4.63 18.82-.11 4.573-4.036 11.198-4.733 16.508-1.735l61.12 34.505c4.88 2.754 10.916 2.408 15.45-.885L563 90.915V204H0v-87.312-12.627c5.62-.717 30.046-6.852 30.046-6.852z" fill="#7DC855" opacity=".9"/>
                  <path class="dataset-2" d="M563 141.622l-21.546-13.87c-3.64-2.343-8.443-1.758-11.408 1.39l-7.565 8.03c-3.813 4.052-10.378 3.688-13.718-.758L469.83 84.58c-3.816-5.08-11.588-4.687-14.867.752l-28.24 46.848c-2.652 4.402-8.48 5.673-12.74 2.78l-15.828-10.76c-3.64-2.475-8.55-1.948-11.575 1.245l-53.21 43.186c-3.148 3.32-8.305 3.74-11.953.974l-100.483-76.2c-3.364-2.55-8.06-2.414-11.27.326l-18.24 15.58c-3.25 2.773-8.015 2.874-11.38.24L159.91 93.79c-3.492-2.733-8.467-2.51-11.697.525l-41.58 39.075c-2.167 2.036-5.21 2.868-8.117 2.218L39.05 112.5c-4.655-1.808-9.95-.292-12.926 3.7L0 137.31V204h563v-62.378z" fill="#F8E71C" opacity=".6"/>
                  <path class="dataset-3" d="M0 155.59v47.415c0 .55.448.995 1 .995h562v-43.105l-40.286 11.83c-3.127.92-6.493.576-9.368-.954l-53.252-28.32c-5.498-2.924-12.323-1.365-15.987 3.654l-25.48 34.902c-4.08 5.59-12.478 5.513-16.455-.148L360.06 121.92c-2.802-4.073-8.2-5.457-12.633-3.237L322.2 133.827c-4.415 2.21-9.792.848-12.604-3.196L282.78 99.25c-4.106-5.906-12.978-5.6-16.665.57l-26.757 44.794c-3.253 5.446-10.753 6.468-15.36 2.092l-16.493-15.673c-4.27-4.058-11.138-3.522-14.72 1.148l-23.167 30.21c-3.722 4.852-10.937 5.207-15.12.744l-44.385-47.345c-5.807-5.427-14.83-5.508-20.734-.19l-55.76 48.31c-3.76 3.26-9.127 3.93-13.582 1.703L0 155.59z" fill="#F5A623" opacity=".7"/>
                  <path class="lines" fill="#FFF" opacity=".2" d="M0 203h563v1H0zM0 153h563v1H0zM0 102h563v1H0zM0 51h563v1H0zM0 0h563v1H0z"/>
                </g>
        </svg>
            </div>
          </div>
        </div>
      </ng-template>
    </ngb-tab>
     
  </ngb-tabset>
  </div>